# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.
# 
# Create a file named .env for local application builds
# 

# === DATABASE ===
MYSQL_USER='USER'
MYSQL_PASSWORD='PASSWORD'
MYSQL_DATABASE='DATABASE'
MYSQL_HOST='HOST'
MYSQL_PORT='PORT'

# === ENCRYPTION ===
SECRET_KEY='STRING'
AIRFLOW_SECRET_KEY='STRING'